ul {
	list-style-type: none;
}

div{
	display: block;
}

a {
	text-decoration: none;
	color: #707070;
}

body {
	margin: 0px;
	padding: 0px;
	display: block;
	font-family: arial,sans-serif;
}

.header {
	background-color: #eaeaea;

	border-bottom: solid 1px #dddddd;
	height: 60px;
	width: 100%;
}

.logo {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

.search_bar {
	margin-top: 10px;
	float: left;
}

input[type=text]{
	padding:5px;
    border:1px solid #ccc;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    cursor: text;
    width: 600px;
    height: 28px;
    font-size: 16px;

}

input[type=text]:focus{
	border:1px solid #68a2ff;
	outline: none;
}

.search_button {
	margin-top: 11px;
	float: left;
}

#header_buttons {
	float: right;
	margin-top: 0px;
	margin-right: 20px;
}

.header_navigation li {
	float: left;
	margin-left: 20px;
}

.sub-header {
	clear: both;
	border-bottom: solid 1px #dddddd;
	height: 60px;
	width: 100%;
}

.sh_left{
	float: left;
	margin-left: 80px;
	margin-top: 7px;
}

#special_nav_bar {
	border-bottom: solid 3px #438ecc;
	padding-bottom: 16px;
	padding-right: 10px;
	padding-left: 10px;
	color: #438ecc;
}

.navigation_bar li{
	float: left;
	margin-top: 4px;
	margin-left: 20px;
	font-size: 13px;
}

.results_data p {
	margin-left: 140px;
	margin-top: 38px;
	font-size: 13px;
	color: #707070;
}

.search_results, .footer, .results_data {
	clear: both;
	float: left;
}

.results {
	margin-left: 100px;
	padding-bottom: 17px;
	width: 600px;
}

.title a {
	color: #062c9e;
	font-size: 19px;
}

.link {
	color: #016024;
	font-size: 14px;
}


.text {
	color: #707070;
	font-size: 12px;
}

.down {
	clear: both;
	float: left;
	margin-top: -20px;
	margin-left: 130px;
	border-top: solid 1px #ccc;
	padding-top: 55px;
	width: 620px;
}

.footer_logo {
	float: left;
	margin-top: -20px;
	margin-left: 145px;


}

.next_arrow {
	float: left;
	margin-left: 30px;
	margin-top: -15px;
}

.pages {
	clear: both;
	float: left;
	margin-left: 150px;
}

.pages_number li{
	float: left;
	font-size: 12px;
	margin-top: -10px;
	margin-left: 10px;
}

.pages_number li a {
	color: #438ecc;
}

.next_page {
	float: left;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 60px;
}

.next_page a {
	color: #438ecc;
}

.footer {
	background-color: #eaeaea;
	bottom: 0px;
	width: 100%;
	margin-top: 30px;
	border-top: solid 1px #dddddd;
}

.localization {
	float: left;
	list-style-type: inherit;
	margin-left: 120px;
	margin-top: 20px;
	width: 100%;
}

.localization li {
	font-size: 12px;
	color: #8c8c8c;
}

.footer_links {
	margin-left: -80px;
	margin-top: 20px;
}

.footer_links li {
	float: left;
	margin-left: 20px;
	font-size: 13px;
}
